@using VL_VendasLanches.Extensions
@model CarrinhoCompraViewModel //ViewImports tem um using para o import, assim a importação fica disponivel para aplicação toda

<div>
    <div class="card border mt-4 container">
        <div class="card-header bg-dark text-light ml-0 row">
            <div class="col-6">
                <i class="fa fa-shopping-cart"></i> &nbsp;
                GCN
            </div>
            <div class="col-6 text-end">
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning btn-sm">
                    Continuar comprando
                </a>
            </div>
        </div>
        <div class="card-body">
            <vc:Summary></vc:Summary>
            <div class="d-none d-lg-block">
                <div class="row text-info">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-5">
                        Product Detalhe
                    </div>
                    <div class="col-lg-2">
                        Preço
                    </div>
                    <div class="col-lg-2">
                        Quantidade
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>

            <hr />

            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <div class="row h-100">
                    <div class="col-4 col-md-2 text-center py-2">
                        <img src="@item.Produto.ImagemUrl" class="rounded" width="100%" />
                    </div>
                    <div class="col-8 col-md-5">
                        <h5>@item.Produto.Nome</h5>
                        <div style="font-size:11px;">
                            @Html.Raw(item.Produto.DescricaoCurta)
                        </div>
                        <div style="font-size:11px;">
                            @Html.Raw("Observação("+item.Observacao+")")
                        </div>
                    </div>
                    <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                        <span style="font-size:17px;">
                            @string.Format("{0:c}", item.Produto.Preco)
                        </span>
                    </div>
                    <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                        <span style="font-size:17px;">
                            @item.Quantidade
                        </span>
                    </div>
                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                        <form asp-controller="Lanche" asp-action="CarrinhoAtualizar" method="post" role="form">
                            <input asp-for="@item.Produto.Id" name="ProdutoId" type="hidden" />
                            <input asp-for="@item.Observacao" name="Observacao" type="hidden" />
                            <input asp-for="@item.Quantidade" name="Quantidade" type="hidden" />
                            <input asp-for="@item.TamanhoId" name="TamanhoId" type="hidden" />
                            <button class="btn btn" type="submit" id="AtualizarProdutoCarrinho">
                                <i class="fa-solid fa-pencil fa-1x" style="color:blue"></i>
                            </button>
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-lancheId="@item.Produto.Id">
                                <i class="fa-solid fa-trash fa-1x" style="color:#d9534f"></i>
                            </a>
                        </form>
                    </div>
                </div>
                <hr />
            }
            <div class="row">
                <div class="col-6 text-end">
                    <span class="text-danger" style="font-size:21px;">
                        Total: @this.FormatoMoeda(Model.CarrinhoCompraTotal)
                        <br />
                    </span>
                </div>
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-6 col-md-3 offset-md-6">
            </div>
            <div class="col-6 col-md-3">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">
                    <span>Encerrar Pedido</span>
                </a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function LimparValoresModal(quantidade) {
            $("#Quantidade").val(quantidade);
        }
    </script>
}